* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  overflow-y: scroll;
}

#stars {
  position: fixed;
  inset: 0;
  z-index: 1;  
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease;
}

/* Background */
#gradient-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  transition: background 0.3s linear;
}

/* Sections */
.section {
    height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s ease;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10vw;
  font-weight: 300;
  letter-spacing: 6px;
  margin-bottom: 1rem;
  transition: color 0.6s ease;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
  transition: color 0.6s ease;
}
